@import '~bootstrap/scss/bootstrap';

.my_nav_h{
    height: 80px;
    .p_log-out{
        padding: 10px 20px;
    }
}

.cont_h{
    .lh_li{
        line-height: 40px;
    }
    height: calc(100vh - 80px);
}
